h1{
    text-align: center;
}
table {
	border-radius: 15px;
    background-color: #029AB2;
    margin:auto;
    padding: 3px;
	border-spacing: 0;

}
#visor{
    text-align: right;
    background-color: #98F1FF;
    padding-right: 15px;
    padding-left: 15px;
    border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
#visor:hover{opacity: 1;}
input{
	border-radius: 5px;
	width: 100%;
	height: 100%;
	padding: 0;
	border-spacing: 0;
	border: hidden;
}
input:hover{
	opacity: 0.75;
}
td {
	border-radius: 5px;
	width: 50px;
	height:50px;
	padding: 0;
	border-spacing: 0;
}
#superior{
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
#inferior{
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;	
}
#igual{
    border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	font-size: 200%;	
}